<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
      <tr>
          <td width="4.485049833887043%">
              <p>1.</p>
          </td>
          <td colspan="4" width="95.51495016611295%">
              <p>Menunjuk&nbsp;:</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>&nbsp;</p>
          </td>
          <td width="4.651162790697675%">
              <p>a.</p>
          </td>
          <td colspan="3" width="90.86378737541528%">
              <p>....</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>&nbsp;</p>
          </td>
          <td width="4.651162790697675%">
              <p>b.</p>
          </td>
          <td colspan="3" width="90.86378737541528%">
              <p>....</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>2.</p>
          </td>
          <td colspan="4" width="95.51495016611295%">
              <p>Berkenaan&nbsp;dengan&nbsp;hal&nbsp;tersebut,&nbsp;bersama&nbsp;ini&nbsp;kami&nbsp;sampaikan&nbsp;hal-hal&nbsp;sebagai&nbsp;berikut:</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>&nbsp;</p>
          </td>
          <td width="4.651162790697675%">
              <p>a.</p>
          </td>
          <td width="18.770764119601328%">
              <p>&nbsp;Nama&nbsp;Kegiatan</p>
          </td>
          <td width="3.3222591362126246%">
              <p>:</p>
          </td>
          <td width="68.77076411960132%">
              <p>....</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>&nbsp;</p>
          </td>
          <td width="4.651162790697675%">
              <p>b.</p>
          </td>
          <td width="18.770764119601328%">
              <p>&nbsp;Maksud&nbsp;dan&nbsp;tujuan</p>
          </td>
          <td width="3.3222591362126246%">
              <p>:</p>
          </td>
          <td width="68.77076411960132%">
              <p>....</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>&nbsp;</p>
          </td>
          <td width="4.651162790697675%">
              <p>c.</p>
          </td>
          <td width="18.770764119601328%">
              <p>Peserta&nbsp;</p>
          </td>
          <td width="3.3222591362126246%">
              <p>:</p>
          </td>
          <td width="68.77076411960132%">
              <p>....</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>&nbsp;</p>
          </td>
          <td width="4.651162790697675%">
              <p>d.</p>
          </td>
          <td width="18.770764119601328%">
              <p>Pelaksanaan</p>
              <p>&nbsp;</p>
          </td>
          <td width="3.3222591362126246%">
              <p>:</p>
          </td>
          <td width="68.77076411960132%">
              <p>....</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>&nbsp;</p>
          </td>
          <td width="4.651162790697675%">
              <p>e.</p>
          </td>
          <td width="18.770764119601328%">
              <p>Penyelenggara</p>
          </td>
          <td width="3.3222591362126246%">
              <p>:</p>
          </td>
          <td width="68.77076411960132%">
              <p>....</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>&nbsp;</p>
          </td>
          <td width="4.651162790697675%">
              <p>f.</p>
          </td>
          <td width="18.770764119601328%">
              <p>Investasi</p>
          </td>
          <td width="3.3222591362126246%">
              <p>:</p>
          </td>
          <td width="68.77076411960132%">
              <p>....</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>&nbsp;</p>
          </td>
          <td width="4.651162790697675%">
              <p>g.</p>
          </td>
          <td width="18.770764119601328%">
              <p>Evaluasi</p>
          </td>
          <td width="3.3222591362126246%">
              <p>:</p>
          </td>
          <td width="68.77076411960132%">
              <p>....</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>&nbsp;</p>
          </td>
          <td width="4.651162790697675%">
              <p>h.</p>
          </td>
          <td colspan="3" width="90.86378737541528%">
              <p>....</p>
          </td>
      </tr>
      <tr>
          <td width="4.485049833887043%">
              <p>3.</p>
          </td>
          <td colspan="4" width="95.51495016611295%">
              <p>Demikian&nbsp;kami&nbsp;sampaikan,&nbsp;atas&nbsp;perhatian&nbsp;dan&nbsp;kerjasamanya&nbsp;diucapkan&nbsp;terima&nbsp;kasih.</p>
          </td>
      </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<p><br></p>