<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
      <tr>
          <td width="3.3222591362126246%">
              <p>&nbsp;</p>
          </td>
          <td colspan="3" width="96.67774086378738%">
              <p>Dengan&nbsp;ini&nbsp;kami&nbsp;minta&nbsp;agar&nbsp;saudara&nbsp;memindahbukukan&nbsp;dana&nbsp;dari&nbsp;rekening&nbsp;kami&nbsp;nomor&hellip;.</p>
          </td>
      </tr>
      <tr>
          <td width="3.3222591362126246%">
              <p>&nbsp;</p>
          </td>
          <td width="20.764119601328904%">
              <p>Sebesar</p>
          </td>
          <td width="3.9867109634551494%">
              <p>&nbsp;:</p>
          </td>
          <td width="71.92691029900332%">
              <p>EUR&hellip;.</p>
          </td>
      </tr>
      <tr>
          <td width="3.3222591362126246%">
              <p>&nbsp;</p>
          </td>
          <td width="20.764119601328904%">
              <p>Terbilang</p>
          </td>
          <td width="3.9867109634551494%">
              <p>&nbsp;:</p>
          </td>
          <td width="71.92691029900332%">
              <p>EUR&hellip;.</p>
          </td>
      </tr>
      <tr>
          <td width="3.3222591362126246%">
              <p>&nbsp;</p>
          </td>
          <td width="20.764119601328904%">
              <p>Kepada&nbsp;Rekening</p>
          </td>
          <td width="3.9867109634551494%">
              <p>&nbsp;:</p>
          </td>
          <td width="71.92691029900332%">
              <p>VAT&nbsp;Number :&nbsp;&hellip;</p>
          </td>
      </tr>
      <tr>
          <td width="3.3222591362126246%">
              <p>&nbsp;</p>
          </td>
          <td width="20.764119601328904%">
              <p>Untuk</p>
          </td>
          <td width="3.9867109634551494%">
              <p>&nbsp;:</p>
          </td>
          <td width="71.92691029900332%">
              <p>EUR&hellip;.</p>
          </td>
      </tr>
      <tr>
          <td width="3.3222591362126246%">
              <p>&nbsp;</p>
          </td>
          <td colspan="3" width="96.67774086378738%">
              <p>Demikian..........&nbsp;terima&nbsp;kasih</p>
          </td>
      </tr>
  </tbody>
</table>
<p>&nbsp;</p>