<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td width="4.485049833887043%">
        <p>1.</p>
      </td>
      <td colspan="4" width="95.51495016611295%">
        <p>Menunjuk</p>
      </td>
    </tr>
    <tr>
      <td width="4.492512479201331%">
        <p>&nbsp;</p>
      </td>
      <td width="4.658901830282862%">
        <p>a.</p>
      </td>
      <td width="19.13477537437604%">
        <p>Tempat&nbsp;penyelenggaraan</p>
      </td>
      <td width="3.327787021630616%">
        <p>:</p>
      </td>
      <td width="68.38602329450916%">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td width="4.485049833887043%">
        <p>2.</p>
      </td>
      <td colspan="4" width="95.51495016611295%">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td width="4.492512479201331%">
        <p>&nbsp;</p>
      </td>
      <td width="4.658901830282862%">
        <p>a.</p>
      </td>
      <td width="19.13477537437604%">
        <p>&nbsp;</p>
      </td>
      <td width="3.327787021630616%">
        <p>:</p>
      </td>
      <td width="68.38602329450916%">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td width="4.492512479201331%">
        <p>&nbsp;</p>
      </td>
      <td width="4.658901830282862%">
        <p>b.</p>
      </td>
      <td width="19.13477537437604%">
        <p>&nbsp;</p>
      </td>
      <td width="3.327787021630616%">
        <p>:</p>
      </td>
      <td width="68.38602329450916%">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td width="4.485049833887043%">
        <p>3.</p>
      </td>
      <td colspan="4" width="95.51495016611295%">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td width="4.492512479201331%">
        <p>&nbsp;</p>
      </td>
      <td width="4.658901830282862%">
        <p>a.</p>
      </td>
      <td width="19.13477537437604%">
        <p>&nbsp;</p>
      </td>
      <td width="3.327787021630616%">
        <p>:</p>
      </td>
      <td width="68.38602329450916%">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td width="4.492512479201331%">
        <p>&nbsp;</p>
      </td>
      <td width="4.658901830282862%">
        <p>b.</p>
      </td>
      <td width="19.13477537437604%">
        <p>&nbsp;</p>
      </td>
      <td width="3.327787021630616%">
        <p>:</p>
      </td>
      <td width="68.38602329450916%">
        <p>&nbsp;</p>
      </td>
    </tr>
    <tr>
      <td width="4.485049833887043%">
        <p>4.</p>
      </td>
      <td colspan="4" width="95.51495016611295%">
        <p>Demikian&nbsp;...&nbsp;terima&nbsp;kasih.</p>
      </td>
    </tr>
  </tbody>
</table>